<div class="container">
  <hr>
  <footer>
      <!--占总屏宽的一个footer-->
    <section class="footer_white">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="fot_support">
              <ul>
                <li><span>Contacts</span></li>
                <li><a href="#">+44 (0) 121 415 8695</a></li>
                <li><a href="#">z.j.zhang@bham.ac.uk</a></li>
              </ul>
              <ul>
                <li><span>Address</span></li>
                <li><a href="#"></a>School of Chemical Engineering
                  The University of Birmingham
                  Edgbaston
                  Birmingham
                  B15 2TT
                  UK</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </section>

  </footer>
</div>

