<br>

<div class="row">
  <!--title and research part design-->
  <div class="col-md-12" >
    <h2 style="font-size: 30px; color: #0056b3; text-align: center">Self-Assembly and Structural DNA Nanotechnogy</h2>
    <p style="font-size: 20px; text-align: justify;">Several areas of advanced technology require materials with a well defined mesoscale or nanoscale structure, which can only be efficiently obtained via self-assembly of engineered macromolecular or colloidal building blocks. We explore novel strategies for the self-assembly of functional and structural materials, often relying on the unique features of synthetic nucleic acids, utilised as nanoscale Lego bricks or to mediate interactions between particles, substrates and interfaces.
    </p>
  </div>


<!--Picture and introduction design-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title><p style="color:#0056b3; font-size: 20px; text-align: center">Membrane adhesion and the physics of endocytosis</p></mat-card-title>
      </mat-card-header>

      <img mat-card-image src="assets/research_2.webp" width="300px" height="250px" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p style="font-size: 16px; text-align: justify;">
          Multivalent interactions between an invader (virus, bacterium)
          and the membrane of a host cell drive  passive endocytosis,
          yet the statistical effects of multivalency on the process
          of membrane wrapping are still to be understood. In recent
          theoretical and numerical study, performed in collaboration
          with Dr Bortolo M. Mognetti, we shine light on these phenomena,
          with focusing on the role played by ligand mobility and excluded
          volume interactions. Our findings are not only relevant
          for developing a better understanding of bacterial/viral
          infection, but may also aid the rational design of
          intra-cellular nanoparticle probes for nano-medical
          applications. Check out our preprint!
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>

  </div>


<!--picture 2-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title><p style="color: #0056b3; font-size: 20px; text-align: center">Membrane adhesion and the physics of endocytosis</p></mat-card-title>
      </mat-card-header>

      <img mat-card-image src="assets/research_3.webp" width="300px" height="250px" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p style="font-size: 16px; text-align: justify;">
          Multivalent interactions between an invader (virus, bacterium)
          and the membrane of a host cell drive  passive endocytosis,
          yet the statistical effects of multivalency on the process
          of membrane wrapping are still to be understood. In recent
          theoretical and numerical study, performed in collaboration
          with Dr Bortolo M. Mognetti, we shine light on these phenomena,
          with focusing on the role played by ligand mobility and excluded
          volume interactions. Our findings are not only relevant
          for developing a better understanding of bacterial/viral
          infection, but may also aid the rational design of
          intra-cellular nanoparticle probes for nano-medical
          applications. Check out our preprint!
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>


  <!--picture 3------------------------------------------------->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <mat-card-title><p style="color: #0056b3; font-size: 20px; text-align: center">Membrane adhesion and the physics of endocytosis</p></mat-card-title>
      </mat-card-header>

      <img mat-card-image src="assets/research_4.webp" width="300px" height="250px" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p style="font-size: 16px; text-align: justify;">
          Multivalent interactions between an invader (virus, bacterium)
          and the membrane of a host cell drive  passive endocytosis,
          yet the statistical effects of multivalency on the process
          of membrane wrapping are still to be understood. In recent
          theoretical and numerical study, performed in collaboration
          with Dr Bortolo M. Mognetti, we shine light on these phenomena,
          with focusing on the role played by ligand mobility and excluded
          volume interactions. Our findings are not only relevant
          for developing a better understanding of bacterial/viral
          infection, but may also aid the rational design of
          intra-cellular nanoparticle probes for nano-medical
          applications. Check out our preprint!
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>


  <!--picture 4-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <mat-card-title>
          <p style="color: #0056b3; font-size: 20px; text-align: center">Membrane adhesion and the physics of endocytosis</p>
        </mat-card-title>
      </mat-card-header>

      <img mat-card-image src="assets/research_1.webp" width="300px" height="250px" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p style="font-size: 16px; text-align: justify;">
          Multivalent interactions between an invader (virus, bacterium)
          and the membrane of a host cell drive  passive endocytosis,
          yet the statistical effects of multivalency on the process
          of membrane wrapping are still to be understood. In recent
          theoretical and numerical study, performed in collaboration
          with Dr Bortolo M. Mognetti, we shine light on these phenomena,
          with focusing on the role played by ligand mobility and excluded
          volume interactions. Our findings are not only relevant
          for developing a better understanding of bacterial/viral
          infection, but may also aid the rational design of
          intra-cellular nanoparticle probes for nano-medical
          applications. Check out our preprint!
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>

<!-- Research part 2 ------------------------------------------------------------------->
<br>
<div class="row">
  <div class="col-md-12">
    <!--title and research part design-->
    <div class="col-md-12" >
      <h2 style="font-size: 30px; color: #0056b3; text-align: center">
        Biophysics and Synthetic Biology
      </h2>
      <p style="font-size: 20px; text-align: justify;">
        Multivalent interactions between an invader (virus, bacterium)
        and the membrane of a host cell drive  passive endocytosis,
        yet the statistical effects of multivalency on the process
        of membrane wrapping are still to be understood. In recent
        theoretical and numerical study, performed in collaboration
        with Dr Bortolo M. Mognetti, we shine light on these phenomena,
        with focusing on the role played by ligand mobility and excluded
        volume interactions. Our findings are not only relevant
        for developing a better understanding of bacterial/viral
        infection, but may also aid the rational design of
        intra-cellular nanoparticle probes for nano-medical
        applications. Check out our preprint!
      </p>
    </div>
  </div>


  <!--picture 5-------------------------------------------------------------------------->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title><p style="color: #0056b3; font-size: 20px; text-align: center">Membrane adhesion and the physics of endocytosis</p></mat-card-title>
      </mat-card-header>

      <img mat-card-image src="assets/research_1.webp" width="300px" height="250px" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p style="font-size: 16px; text-align: justify;">
          Multivalent interactions between an invader (virus, bacterium)
          and the membrane of a host cell drive  passive endocytosis,
          yet the statistical effects of multivalency on the process
          of membrane wrapping are still to be understood. In recent
          theoretical and numerical study, performed in collaboration
          with Dr Bortolo M. Mognetti, we shine light on these phenomena,
          with focusing on the role played by ligand mobility and excluded
          volume interactions. Our findings are not only relevant
          for developing a better understanding of bacterial/viral
          infection, but may also aid the rational design of
          intra-cellular nanoparticle probes for nano-medical
          applications. Check out our preprint!
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>

  <!--picture 6-------------------------------------------------------------->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <!--<div mat-card-avatar class="example-header-image"></div>-->
        <mat-card-title><p style="color: #0056b3; font-size: 20px; text-align: center">Membrane adhesion and the physics of endocytosis</p></mat-card-title>
      </mat-card-header>

      <img mat-card-image src="assets/research_1.webp" width="300px" height="250px" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p style="font-size: 16px; text-align: justify;">
          Multivalent interactions between an invader (virus, bacterium)
          and the membrane of a host cell drive  passive endocytosis,
          yet the statistical effects of multivalency on the process
          of membrane wrapping are still to be understood. In recent
          theoretical and numerical study, performed in collaboration
          with Dr Bortolo M. Mognetti, we shine light on these phenomena,
          with focusing on the role played by ligand mobility and excluded
          volume interactions. Our findings are not only relevant
          for developing a better understanding of bacterial/viral
          infection, but may also aid the rational design of
          intra-cellular nanoparticle probes for nano-medical
          applications. Check out our preprint!
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>

</div>
