<div class="row">
  <!--title and research part design-->
  <div class="col-md-12" style="text-align: center; color: #005cbf;" >
    <h2>Self-Assembly and Structural DNA Nanotechnogy</h2>
    <p style="font-size: 20px;text-align: justify;">Several areas of advanced technology require materials with a well defined mesoscale or nanoscale structure, which can only be efficiently obtained via self-assembly of engineered macromolecular or colloidal building blocks. We explore novel strategies for the self-assembly of functional and structural materials, often relying on the unique features of synthetic nucleic acids, utilised as nanoscale Lego bricks or to mediate interactions between particles, substrates and interfaces.
    </p>
  </div>


<!--Picture and introduction design-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Erha</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>

  </div>


<!--picture 2-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Erha</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>


  <!--picture 3-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Erha</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>


  <!--picture 4-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Erha</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <!--title and research part design-->
    <div class="col-md-12" style="text-align: center; color: #005cbf;" >
      <h2>Biophysics and Synthetic Biology</h2>
      <p style="font-size: 20px;text-align: justify;">
        We are interested in a various bio-physical problems that we tackle by a combination of experiments, theoretical modelling and computer simulations. We are particularly intrigued by the interaction of biological membranes with other membranes, particles, and proteins, which have deep implications in several biological processes including cell adhesion, tissue dynamics and endocytosis. We often study these processes in artificial biomimetic systems, where experimental parameters can be precisely controlled in order to unravel the underlying physical mechanisms. Our interest in replicating biological processes in vitro goes all the way to the development of artificial cells that display complex life-like behaviours.

      </p>
    </div>
  </div>


  <!--picture 5-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Erha</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>

  <!--picture 6-->
  <div class="col-md-6">
    <!--Picture 1-->
    <mat-card class="example-card">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Erha</mat-card-title>
      </mat-card-header>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>

      <!--<mat-card-actions>-->
      <!--<button mat-button>LIKE</button>-->
      <!--<button mat-button>SHARE</button>-->
      <!--</mat-card-actions>-->

    </mat-card>
  </div>

</div>



