<!--<p>contact works!</p>-->
<div class="container">

  <div class="contact" id="telephone">
    <h4> Telephone</h4>
    <hr>
    <p>+44 (0) 121 415 8695</p>
  </div>

  <div class="contact" id="email">
    <h4> Email</h4>
    <hr>
    <p>z.j.zhang@bham.ac.uk</p>
  </div>

  <div class="contact" id="twitter">
    <h4> Twitter</h4>
    <hr>
    <p>@ZhenyuJZhang</p>
  </div>

  <div class="contact" id="Address">
    <h4> Address</h4>
    <hr>
    <p>School of Chemical Engineering
      The University of Birmingham
      Edgbaston
      Birmingham
      B15 2TT
      UK</p>
  </div>

</div>
