<div class="row" id="contact_background">
  <div class="col-md-12">
      <h2 style="color: #abdde5; font-size: 40px;text-align: center; margin: 90px 30px 30px 30px;">Biomimetic Soft Matter and DNA Nanotechnology</h2>
  </div>
</div>

<div class="row" style="margin-top: 30px;">

  <div class="col-md-6">
    <h2 style="text-align: center; color: #005cbf; ">ABOUT US</h2>
    <p style="text-align: justify; font-size: 20px "> Hi there! We are a group of science enthusiast trying to learn
      something about the fascinating physics, chemistry, and (occasionally)
      biology of complex nanoscale systems.
      <br>
      We investigate problems of fundamental relevance
      as well as develop new technologies and, to do so, we often
      make use of the tools of DNA nanotechnology.
      <br>
      We like to adopt a multidisciplinary approach,
      that combines experimental methods, theoretical
      modelling, and computer simulations
    </p>
  </div>

  <div class="col-md-6">
    <!--telephone part-->
    <div class="contact" style="background-color: #9fcdff;">
      <h4 style="text-align: center"> Telephone</h4>
      <hr>
      <p style="font-size: larger; text-align: center">+44 (0) 121 415 8695</p>
    </div>

<!--email part-->
    <div class="contact" style=" background-color: #9fcdff;">
      <h4 style="text-align: center"> Email</h4>
      <hr>
      <p style="font-size: larger; text-align: center">z.j.zhang@bham.ac.uk
      </p>
    </div>

    <!--twitter part-->
    <div class="contact" style=" background-color: #9fcdff;">
      <h4 style="text-align: center"> Twitter</h4>
      <hr>
      <p style="font-size: larger; text-align: center">
        @ZhenyuJZhang
      </p>
    </div>

    <div class="contact" style=" background-color: #9fcdff;">
      <h4 style="text-align: center"> Address</h4>
      <hr>
      <p style="font-size: larger; text-align: center">
      School of Chemical Engineering
        <br>
        The University of Birmingham
        <br>
        Edgbaston Birmingham B15 2TT UK
      </p>
    </div>

  </div>

</div>

<!-- research and people  and publication parts-->

<div class="row">
  <div class="col-md" style="text-align: center; background-color: #abdde5">
    <h2>
      RESEARCH
    </h2>

    <p style="text-align: center">
      We have a number of active research lines:
      from the development of new DNA-based building
      blocks for the self-assembly of functional materials,
      to the study of biomimetic artificial tissues to the
      development of tools for Synthetic Biology.
      Learn more about our latest research updates!
    </p>

  </div>

  <div class="col-md" style="text-align: center; background-color: #abdde5; margin-left: 10px">
    <h2>
      PEOPLE
    </h2>

    <p style="text-align: center;">
      We really are a mixed bunch! We host students and
      researchers with very diverse background: Physicists,
      Chemists, Nanotechnologists, Engineers, Biologists.
      Find out more about us, and bear in mind that we are
      always looking for enthusiastic students and post-doctoral
      researchers to join the group!
    </p>

  </div>

  <div class="col-md" style="text-align: center; background-color: #abdde5; margin-left: 10px">
    <h2>
      PUBLICATIONS
    </h2>
    <p style="text-align: center">
      Have a look at our most recent published
      works and access journal links, full text,
      datasets, experimental protocols and shared
      software.
    </p>

  </div>

</div>
