<div class="row" style="margin-bottom: 200px; margin-top: 30px;">

  <h2 class="col-md-12" style="font-size: 30px; color: #0056b3; height:200px;  background-color: #abdde5; text-align: center;">
    Lorenzo Di Michele (PI)
  </h2>

  <!--people 1-->
  <div class="col-md-4">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="250px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
  </div>
  <!-- People 1 introduction-->
  <div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">
    <h4 style="color: #0056b3;">Lorenzo Di Michele (PI) [CV]</h4>
    <p style="font-size: 16px; text-align: justify;">
      Lorenzo completed his undergraduate and master degrees in Physics at the University of L'Aquila (Abruzzo, Italy) in 2010,
      before moving to the Cavendish Laboratory, University of Cambridge to start his PhD in Soft Condensed Matter Physics.
      After graduating in 2013, Lorenzo took up an Oppenheimer Early Career Research Fellowship, followed by a Leverhulme
      Early Career Research Fellowship in 2016. Since 2018, Lorenzo holds a Royal Society University Research Fellowship
      at the Cavendish Lab.
      <br>

      Lorenzo completed his undergraduate and master degrees in Physics at the University of L'Aquila (Abruzzo, Italy) in 2010,
      before moving to the Cavendish Laboratory, University of Cambridge to start his PhD in Soft Condensed Matter Physics.
      After graduating in 2013, Lorenzo took up an Oppenheimer Early Career Research Fellowship, followed by a Leverhulme
      Early Career Research Fellowship in 2016. Since 2018, Lorenzo holds a Royal Society University Research Fellowship
      at the Cavendish Lab.
    </p>
  </div>

  <div class="col-md-12" style="text-align: center;">
    <button style="color: white; background-color: black; width: 120px; height:60px; font-size: 20px;"  [routerLink]="['/people']">Back</button>
  </div>

</div>

