<div class="row">

  <!--picture 1-->
  <div class="col-md-12" style="margin-top: 20px">
    <h2 style="color: #005cbf; text-align: center">Abruzzo National Park</h2>
    <p style="text-align: center;font-size: 20px; color: rgb(76,120,170)">2018 (1st) group trip! Here at the top of
      Monte Marsicano (2200m), after a 1200m climb. 
      From left to right: Will, Lorenzo, Ryan and Omar.</p>
  </div>

  <div class="col-md-12">
<img src="assets/photos_group_2.webp" class="mx-auto d-block" alt="group people_1" width="450px" height="300px">
  </div>


  <!--picture 2-->
  <div class="col-md-12" style="margin-top: 20px">
    <h2 style="color: #005cbf; text-align: center">Functional DNA Nanotechnology Workshop, Rome 2018</h2>
    <p style="text-align: center;font-size: 20px; color: rgb(76,120,170)">
      No need to label this. From left to right: Will, Ryan,
      Roberta, Lorenzo and Omar.
    </p>
  </div>

  <div class="col-md-12">
    <img src="assets/photos_group_3.webp" class="mx-auto d-block" alt="group people_1" width="450px" height="300px">
  </div>

  <!--picture 3-->
  <div class="col-md-12"style="margin-top: 20px">
    <h2 style="color: #005cbf; text-align: center">Abruzzo National Park</h2>
    <p style="text-align: center;font-size: 20px; color: rgb(76,120,170)">2018 (1st) group trip! Here at the top of
      Monte Marsicano (2200m), after a 1200m climb.
      From left to right: Will, Lorenzo, Ryan and Omar.</p>
  </div>

  <div class="col-md-12">
    <img src="assets/photos_group_4.webp" class="mx-auto d-block" alt="group people_1" width="450px" height="300px">
  </div>


  <div class="col-md-12" style="margin-top: 20px">
    <h2 style="color: #005cbf; text-align: center">Abruzzo National Park</h2>
    <p style="text-align: center;font-size: 20px; color: rgb(76,120,170)">2018 (1st) group trip! Here at the top of
      Monte Marsicano (2200m), after a 1200m climb.
      From left to right: Will, Lorenzo, Ryan and Omar.</p>
  </div>

  <div class="col-md-12">
    <img src="assets/people_1.webp" class="mx-auto d-block" alt="group people_1" width="450px" height="300px">
  </div>


</div>



