<div class="col-md-12" class="title">
  <h4>Publications</h4>
</div>


<div class="container">
  <div class="pulication-detail">

    <div class="publication-year">
      <h5>2018</h5>
      <p>24. M Raftari, Z J Zhang, S R Carter, G J Leggett, and M Geoghegan* “Salt dependence of the tribological properties of a surface-grafted weak polycation in aqueous solution” Tribo. Lett. 66 (2018) 11</p>
    </div>

    <div class="publication-year">
      <h5>2017</h5>
      <p>23. N E Clay, J J Whittenberg, J Leong, V Kumar, J Chen, I Choi, E Liamas, J M Schieferstein, J H Jeong, D H Kim, Z J Zhang, P J A Kenis, I W Kim, and H Kong “Chemical and mechanical modulation of polymeric micelle assembly” Nanoscale 9 (2017) 5194</p>
      <p>22. Y Dai, T Sun,* Z Zhang, Z J Zhang, and J Li “Effect of zinc oxide film morphologies on the formation of Shewanella putrefaciens biofilm” Biointerphases 12 (2017) 011002</p>
      <p>21. Z J Zhang, M Moxey, A Alswieleh, S P Armes, A L Lewis, M Geoghegan, and G J Leggett* “Nanotribological investigation of polymer brushes with lithographically defined and systematically varying grafting densities” Langmuir 33 (2017) 706</p>
      <p>20. Z J Zhang,* J Madsen, N J Warren, M Mears, G J Leggett, A L Lewis, and M Geoghegan “Influence of salt on the solution dynamics of a phosphorylcholine-based polyzwitterion” Euro. Polym. J. 87 (2017) 449</p>
      <p>19. D Mallinson, D L Cheung,* D Simionesie, A B Mullen, Z J Zhang,* and D A Lamprou* “Experimental and computational examination of anastellin (FnIII1c)–polymer interactions” J. Biomed. Mater. Res. Part A 105A (2017) 737</p>
    </div>

    <div class="publication-year">
      <h5>2016</h5>
      <p>18. J L L F S Costa, D Simionesie, Z J Zhang,* and P A Mulheran* “Aggregation of model asphaltenes: a molecular dynamics study” J. Phys.: Condens. Matter 28 (2016) 394002</p>
      <p>17. Z J Zhang, M Moxey, A Alswieleh, A J Morse, A L Lewis, M Geoghegan, and G J Leggett* “Effect of salt on phosphorylcholine-based zwitterionic polymer brushes” Langmuir 32 (2016) 5048</p>
      <p>16. B Sauerer, M Stukan, W Abdallah, M H Derkani, M Fedorov, J Buiting, and Z J Zhang* “Quantifying mineral surface energy by scanning force microscopy” J. Colloidal Interface Sci. 472 (2016) 237</p>
      <p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>
    </div>

    <div class="publication-year">
      <h5>2015</h5>
      <p>14. M Raftari, Z J Zhang, S R Carter, G J Leggett, and M Geoghegan* “Nanoscale contact mechanics between two grafted polyelectrolyte surface” Macromolecules 48 (2015) 6272</p>
      <p>13. A AL-Baradi, M R Tomlinson, Z J Zhang,* and M Geoghegan “Determination of the molar mass of surface-grafted weak polyelectrolyte brushes using force spectroscopy” Polymer 67 (2015) 111</p>
      <p>12. Y Pen, Z Zhang,* A L Morales-Garcia, M Mears, D S Tarmey, R G Edyvean, S A Banwart, and M Geoghegan “Effect of extracellular polymeric substances on the mechanical properties of Rhodococcus” Biochim. Biophys. Acta-Biomembrane 1848 (2015) 518</p>
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2014</h5>
      <p>11. Z J Zhang, D Simionesie, and C Schaschke* “Graphite and hybrid nanomaterials as lubricant additives” Lubricants 2 (2014) 44</p>
      <p>10. M Raftari, Z Zhang, S R Carter, G J Leggett, and M Geoghegan* “Frictional properties of a polycationic brush” Soft Matter 10 (2014) 2759</p>
      <!--<p>12. Y Pen, Z Zhang,* A L Morales-Garcia, M Mears, D S Tarmey, R G Edyvean, S A Banwart, and M Geoghegan “Effect of extracellular polymeric substances on the mechanical properties of Rhodococcus” Biochim. Biophys. Acta-Biomembrane 1848 (2015) 518</p>-->
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2013</h5>
      <p>9. Z Zhang, A J Morse, S P Armes, A L Lewis, M Geoghegan, and G J Leggett* “Nanoscale contact mechanics of biocompatible polyzwitterionic brushes” Langmuir 29 (2013) 10684</p>
      <!--<p>10. M Raftari, Z Zhang, S R Carter, G J Leggett, and M Geoghegan* “Frictional properties of a polycationic brush” Soft Matter 10 (2014) 2759</p>-->
      <!--<p>12. Y Pen, Z Zhang,* A L Morales-Garcia, M Mears, D S Tarmey, R G Edyvean, S A Banwart, and M Geoghegan “Effect of extracellular polymeric substances on the mechanical properties of Rhodococcus” Biochim. Biophys. Acta-Biomembrane 1848 (2015) 518</p>-->
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2012</h5>
      <p>8. K Busuttil, N Nikogeorgos, Z Zhang, M Geoghegan, C A Hunter, and G Leggett* “The mechanics of nanometre-scale molecular contacts” Faraday Discuss. 156 (2012) 325 </p>
      <!--<p>10. M Raftari, Z Zhang, S R Carter, G J Leggett, and M Geoghegan* “Frictional properties of a polycationic brush” Soft Matter 10 (2014) 2759</p>-->
      <!--<p>12. Y Pen, Z Zhang,* A L Morales-Garcia, M Mears, D S Tarmey, R G Edyvean, S A Banwart, and M Geoghegan “Effect of extracellular polymeric substances on the mechanical properties of Rhodococcus” Biochim. Biophys. Acta-Biomembrane 1848 (2015) 518</p>-->
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2011</h5>
      <p>7. Z Zhang, A J Morse, S P Armes, A L Lewis, M Geoghegan, and G J Leggett* “Effect of brush thickness and solvent composition on the friction force response of poly(2-(methacryloyloxy)ethyl phosphorylcholine) brushes” Langmuir 27 (2011) 2514</p>
      <!--<p>10. M Raftari, Z Zhang, S R Carter, G J Leggett, and M Geoghegan* “Frictional properties of a polycationic brush” Soft Matter 10 (2014) 2759</p>-->
      <!--<p>12. Y Pen, Z Zhang,* A L Morales-Garcia, M Mears, D S Tarmey, R G Edyvean, S A Banwart, and M Geoghegan “Effect of extracellular polymeric substances on the mechanical properties of Rhodococcus” Biochim. Biophys. Acta-Biomembrane 1848 (2015) 518</p>-->
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2010</h5>
      <p>6. Z Zhang, I W Fletcher, C R Hurley, C Boardman, P Doyle, and G J Leggett* “Morphological, and quantitative frictional measurements of cotton fibres using friction force microscopy” J. Mater. Chem. 20 (2010) 8531</p>
      <p>5. Z Zhang, Y Pen, R G J Edyvean, S A Banwart, R M Dalgliesh, and M Geoghegan* “Adhesive and conformational behaviour of mycolic acid monolayers” Biochim. Biophys. Acta-Biomembrane 1798 (2010) 1829</p>
      <p>4. A J Morse, S Edmondson, D Dupin, S P Armes,* Z Zhang, G J Leggett, R L Thompson, and A L Lewis “Biocompatible polymer brushes grown from model quartz fibres: synthesis, characterization and in situ determination of frictional coefficient” Soft Matter 6 (2010) 1571</p>
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2009</h5>
      <p>3. P Burgos, Z Zhang, R Golestanian, G J Leggett, and M Geoghegan* “Directed single molecule diffusion triggered by surface energy gradients” ACS Nano 3 (2009) 3235</p>
      <!--<p>5. Z Zhang, Y Pen, R G J Edyvean, S A Banwart, R M Dalgliesh, and M Geoghegan* “Adhesive and conformational behaviour of mycolic acid monolayers” Biochim. Biophys. Acta-Biomembrane 1798 (2010) 1829</p>-->
      <!--<p>4. A J Morse, S Edmondson, D Dupin, S P Armes,* Z Zhang, G J Leggett, R L Thompson, and A L Lewis “Biocompatible polymer brushes grown from model quartz fibres: synthesis, characterization and in situ determination of frictional coefficient” Soft Matter 6 (2010) 1571</p>-->
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2008</h5>
      <p>2. M Geoghegan,* J S Andrews, C A Biggs, K E Eboigbodin, D R Elliott, S Rolfe, J Scholes, J J Ojeda, M E Romero-Gonzalez, R G J Edyvean, L Swanson, R Rutkaite, R Fernando, Y Pen, Z Zhang, and S A Banwart “The polymer physics and chemistry of microbial cell attachment and adhesion” Faraday Discuss. 139 (2008) 85</p>
      <!--<p>5. Z Zhang, Y Pen, R G J Edyvean, S A Banwart, R M Dalgliesh, and M Geoghegan* “Adhesive and conformational behaviour of mycolic acid monolayers” Biochim. Biophys. Acta-Biomembrane 1798 (2010) 1829</p>-->
      <!--<p>4. A J Morse, S Edmondson, D Dupin, S P Armes,* Z Zhang, G J Leggett, R L Thompson, and A L Lewis “Biocompatible polymer brushes grown from model quartz fibres: synthesis, characterization and in situ determination of frictional coefficient” Soft Matter 6 (2010) 1571</p>-->
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>

    <div class="publication-year">
      <h5>2007</h5>
      <p>1. Z Zhang, M Tomlinson, R Golestanian, and M Geoghegan* “The interfacial behaviour of single PDMAc chains measured as a function of pH” Nanotechnology 19 (2008) 035505</p>
      <!--<p>5. Z Zhang, Y Pen, R G J Edyvean, S A Banwart, R M Dalgliesh, and M Geoghegan* “Adhesive and conformational behaviour of mycolic acid monolayers” Biochim. Biophys. Acta-Biomembrane 1798 (2010) 1829</p>-->
      <!--<p>4. A J Morse, S Edmondson, D Dupin, S P Armes,* Z Zhang, G J Leggett, R L Thompson, and A L Lewis “Biocompatible polymer brushes grown from model quartz fibres: synthesis, characterization and in situ determination of frictional coefficient” Soft Matter 6 (2010) 1571</p>-->
      <!--<p>15. I Insua, E Liamas, Z Zhang, A F A Peacock, A M Krachler, and F Fernandez-Trillo* “Enzyme-responsive polyion complex (PIC) nanoparticles for the targeted delivery of antimicrobial polymers” Polym. Chem. 7 (2016) 2684 </p>-->
    </div>



  </div>

</div>
