<div class="col-md-12">
  <h4>Introduction</h4>
  <p>
    Zhenyu's research interest focused primarily on characterising soft matter, e.g. polymers, surfactants, and colloids, at surface or interface. Past work has been supported by both internal and external funding bodies including Science and Technology Facility Council (STFC), European Cooperation in Science and Technology, The Carnegie Trust, and industrial partners. </p>
</div>

<div class="row carousel-container">
  <app-carousel></app-carousel>
</div>

<div class="col-md-12">
  <h4>News</h4>
  <p>
    Zhenyu's research interest focused primarily on characterising soft matter, e.g. polymers, surfactants, and colloids, at surface or interface. Past work has been supported by both internal and external funding bodies including Science and Technology Facility Council (STFC), European Cooperation in Science and Technology, The Carnegie Trust, and industrial partners. </p>
</div>

