<div class="row">

  <!--people 1-->
  <div class="col-md-6">

  </div>
<!-- People 1 introduction-->
  <div class="col-md-6">

  </div>

  <!--people 2-->
  <div class="col-md-6">

  </div>

  <div class="col-md-6">

  </div>

</div>



<div><h4>People</h4></div>

<!--Picture 1-->
<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Erha</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="/assets/people_1.webp" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->

</mat-card>

<!--Picture 2-->

<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Erha</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->

</mat-card>


<!--Picture 3-->

<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Erha</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->

</mat-card>


<!--Picture 4-->

<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Erha</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->

</mat-card>


<!--Picture 5-->

<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Erha</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->

</mat-card>


<!--Picture 6-->

<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Erha</mat-card-title>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>

  <!--<mat-card-actions>-->
  <!--<button mat-button>LIKE</button>-->
  <!--<button mat-button>SHARE</button>-->
  <!--</mat-card-actions>-->

</mat-card>
