<br>
<div class="row">

  <div class="col-md-12">
    <h2 style="font-size: 30px; color: #0056b3; text-align: left"> Join us</h2>
    <p style="font-size: 20px; text-align: justify;">
      We are currently looking for PhD students and post-docs with
      expertise in optics, electrophysiology, hair-cell biophysics,
      or theoretical modelling. For more information, please contact
      Andrei Kozlov.
    </p>
  </div>

  <!--people's picture-1-->
  <!--people 1-->

    <div class="col-md-3">
      <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/1']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
      <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/1']">Andrei Kozlov</a></p>
      <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
    </div>
  <!--people 2-->
    <div class="col-md-3">
      <img class="col-md-12" src="assets/people_2.webp" width="200px" height="200px" [routerLink]="['/people/2']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
      <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/2']">Ryan Brady</a></p>
      <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
    </div>
  <!--people 3-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/3']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/3']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>
  <!--people 4-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/4']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/4']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>
  <!--people 5-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/5']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/5']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>
  <!--people 6-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/6']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/6']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>

  <!--people 7-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/7']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/7']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>

  <!--people 8-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/8']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/8']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>

  <!--people 9-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/9']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/9']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>

  <!--people 10-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/10']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/10']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>

  <!--people 11-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/11']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/11']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>
  <!--people 12-->

  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/12']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/12']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>
  <!--people 13-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/13']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/13']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>
  <!--people 14-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/14']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/14']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>

  <!--people 15-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/15']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/15']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>
  <!--people 16-->
  <div class="col-md-3">
    <img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" [routerLink]="['/people/16']" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
    <p style="font-size: 20px; text-align: center;"><a [routerLink]="['/people/16']">Andrei Kozlov</a></p>
    <p style="font-size: 15px; color: #95999c; text-align: center;">Principal Investigator</p>
  </div>

</div>



















<!--<div class="row">-->

  <!--&lt;!&ndash;&lt;!&ndash;Headings and title part&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-md-12" style="font-size: 30px; text-align: right; color: #0056b3;">&ndash;&gt;-->
    <!--&lt;!&ndash;<a  [routerLink]="['/photos']">Group Pictures</a>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--<h2 class="col-md-12" style="font-size: 30px; color: #0056b3; text-align: center;"> Current Members</h2>-->



  <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
    <!--&lt;!&ndash;<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<div id="demo" class="collapse row">&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash;people 1&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
        <!--&lt;!&ndash;<img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;&lt;!&ndash; People 1 introduction&ndash;&gt;&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">&ndash;&gt;-->
        <!--&lt;!&ndash;<h4 style="color: #0056b3;">Lorenzo Di Michele (PI) [CV]</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;<p style="font-size: 16px; text-align: justify;">&ndash;&gt;-->
          <!--&lt;!&ndash;Lorenzo completed his undergraduate and master degrees in Physics at the University of L'Aquila (Abruzzo, Italy) in 2010,&ndash;&gt;-->
          <!--&lt;!&ndash;before moving to the Cavendish Laboratory, University of Cambridge to start his PhD in Soft Condensed Matter Physics.&ndash;&gt;-->
          <!--&lt;!&ndash;After graduating in 2013, Lorenzo took up an Oppenheimer Early Career Research Fellowship, followed by a Leverhulme&ndash;&gt;-->
          <!--&lt;!&ndash;Early Career Research Fellowship in 2016. Since 2018, Lorenzo holds a Royal Society University Research Fellowship&ndash;&gt;-->
          <!--&lt;!&ndash;at the Cavendish Lab.&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;</div>&ndash;&gt;-->





  <!--&lt;!&ndash;people 1&ndash;&gt;-->
  <!--<div class="col-md-4">-->
      <!--<img class="col-md-12" src="assets/people_1.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">-->
  <!--</div>-->
<!--&lt;!&ndash; People 1 introduction&ndash;&gt;-->
  <!--<div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">-->
    <!--<h4 style="color: #0056b3;">Lorenzo Di Michele (PI) [CV]</h4>-->
    <!--<p style="font-size: 16px; text-align: justify;">-->
      <!--Lorenzo completed his undergraduate and master degrees in Physics at the University of L'Aquila (Abruzzo, Italy) in 2010,-->
      <!--before moving to the Cavendish Laboratory, University of Cambridge to start his PhD in Soft Condensed Matter Physics.-->
      <!--After graduating in 2013, Lorenzo took up an Oppenheimer Early Career Research Fellowship, followed by a Leverhulme-->
      <!--Early Career Research Fellowship in 2016. Since 2018, Lorenzo holds a Royal Society University Research Fellowship-->
      <!--at the Cavendish Lab.-->
    <!--</p>-->
  <!--</div>-->

  <!--&lt;!&ndash;people 2&ndash;&gt;-->
  <!--<div class="col-md-4">-->
    <!--<img class="col-md-12" src="assets/people_2.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">-->
  <!--</div>-->
  <!--&lt;!&ndash; People 1 introduction&ndash;&gt;-->
  <!--<div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">-->
    <!--<h4 style="color: #0056b3;">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>-->
    <!--<p style="font-size: 16px; text-align: justify;">-->
      <!--Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish-->
      <!--Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his-->
      <!--PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based-->
      <!--nanostructures for the self-assembly of functional nanostructured crystalline frameworks.-->
    <!--</p>-->

  <!--</div>-->


  <!--&lt;!&ndash;people 3&ndash;&gt;-->
  <!--<div class="col-md-4">-->
    <!--<img class="col-md-12" src="assets/people_3.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">-->
  <!--</div>-->
  <!--&lt;!&ndash; People 1 introduction&ndash;&gt;-->
  <!--<div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">-->
    <!--<h4 style="color: #0056b3;">Omar Amjad (PhD student, 2015 - ongoing)</h4>-->
    <!--<p style="font-size: 16px; text-align: justify;">-->
      <!--Omar graduated in Biology from Imperial College London before joining 2014 the EPSRC CDT in Sensor-->
      <!--Technology and Applications (Cambridge). In 2015 Omar started his PhD-->
      <!--in the group of Pietro Cicuta at the Cavendish Labroatory,-->
      <!--co-supervised by Lorenzo Di Michele. Omar studies the structure,-->
      <!--dynamics and rheology of biomimetic tissue-like materials, as well-->
      <!--as developing a new type of bio-molecular sensor.-->
    <!--</p>-->

  <!--</div>-->


  <!--&lt;!&ndash;people 4&ndash;&gt;-->
  <!--<div class="col-md-4">-->
    <!--<img class="col-md-12" src="assets/people_4.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">-->
  <!--</div>-->
  <!--&lt;!&ndash; People 1 introduction&ndash;&gt;-->
  <!--<div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">-->
    <!--<h4 style="color: #0056b3;">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>-->
    <!--<p style="font-size: 16px; text-align: justify;">-->
      <!--Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish-->
      <!--Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his-->
      <!--PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based-->
      <!--nanostructures for the self-assembly of functional nanostructured crystalline frameworks.-->
    <!--</p>-->

  <!--</div>-->


  <!--&lt;!&ndash;people 5&ndash;&gt;-->
  <!--<div class="col-md-4">-->
    <!--<img class="col-md-12" src="assets/people_5.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">-->
  <!--</div>-->
  <!--&lt;!&ndash; People 1 introduction&ndash;&gt;-->
  <!--<div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">-->
    <!--<h4 style="color: #0056b3;">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>-->
    <!--<p style="font-size: 16px; text-align: justify;">-->
      <!--Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish-->
      <!--Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his-->
      <!--PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based-->
      <!--nanostructures for the self-assembly of functional nanostructured crystalline frameworks.-->
    <!--</p>-->

  <!--</div>-->


  <!--&lt;!&ndash;people 6&ndash;&gt;-->
  <!--<div class="col-md-4">-->
    <!--<img class="col-md-12" src="assets/people_6.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">-->
  <!--</div>-->
  <!--&lt;!&ndash; People 1 introduction&ndash;&gt;-->
  <!--<div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">-->
    <!--<h4 style="color: #0056b3;">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>-->
    <!--<p style="font-size: 16px; text-align: justify;">-->
      <!--Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish-->
      <!--Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his-->
      <!--PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based-->
      <!--nanostructures for the self-assembly of functional nanostructured crystalline frameworks.-->
    <!--</p>-->

  <!--</div>-->

  <!--&lt;!&ndash;Survivors part&ndash;&gt;-->
  <!--<h2 class="col-md-12" style="font-size: 30px; color: #0056b3; text-align: center;"> Students</h2>-->


  <!--<div class="col-md-12" style="font-size: 16px; text-align: justify;">-->
    <!--<ul>-->
      <!--<li>Lucia Tunesi: Visiting master student from University of Milan (2018)</li>-->
      <!--<li>Jeff Jin Rong Quach: Visiting master student from University of Copenhagen (2018)</li>-->
      <!--<li>Josh Tuffnell: CDT project student (2017-2018). Now PhD student in Materials (Cambridge)</li>-->
      <!--<li>Lucia Tunesi: Visiting master student from University of Milan (2018)</li>-->
      <!--<li>Jeff Jin Rong Quach: Visiting master student from University of Copenhagen (2018)</li>-->
      <!--<li>Josh Tuffnell: CDT project student (2017-2018). Now PhD student in Materials (Cambridge)</li>-->
      <!--<li>Lucia Tunesi: Visiting master student from University of Milan (2018)</li>-->
      <!--<li>Jeff Jin Rong Quach: Visiting master student from University of Copenhagen (2018)</li>-->
      <!--<li>Josh Tuffnell: CDT project student (2017-2018). Now PhD student in Materials (Cambridge)</li>-->
    <!--</ul>-->
  <!--</div>-->


<!--</div>-->


