<div class="row">

  <!--Headings and title part-->
  <div class="col-md-12" style="font-size: 20px; text-align: right; color: #005cbf;">
    Group Pictures
  </div>

  <div class="col-md-12" style="font-size: 40px; text-align: center; color: #005cbf; ">
    Current Members
  </div>

  <!--people 1-->
  <div class="col-md-4">
      <img class="col-md-12" src="/assets/people_1.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
  </div>
<!-- People 1 introduction-->
  <div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">
    <h4 style="color: #005cbf">Lorenzo Di Michele (PI) [CV]</h4>
    <p>
      Lorenzo completed his undergraduate and master degrees in Physics at the University of L'Aquila (Abruzzo, Italy) in 2010,
      before moving to the Cavendish Laboratory, University of Cambridge to start his PhD in Soft Condensed Matter Physics.
      After graduating in 2013, Lorenzo took up an Oppenheimer Early Career Research Fellowship, followed by a Leverhulme
      Early Career Research Fellowship in 2016. Since 2018, Lorenzo holds a Royal Society University Research Fellowship
      at the Cavendish Lab.
    </p>
  </div>

  <!--people 2-->
  <div class="col-md-4">
    <img class="col-md-12" src="/assets/people_2.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
  </div>
  <!-- People 1 introduction-->
  <div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">
    <h4 style="color: #005cbf">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>
    <p>
      Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish
      Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his
      PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based
      nanostructures for the self-assembly of functional nanostructured crystalline frameworks.
    </p>

  </div>


  <!--people 3-->
  <div class="col-md-4">
    <img class="col-md-12" src="/assets/people_3.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
  </div>
  <!-- People 1 introduction-->
  <div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">
    <h4 style="color: #005cbf">Omar Amjad (PhD student, 2015 - ongoing)</h4>
    <p>
      Omar graduated in Biology from Imperial College London before joining 2014 the EPSRC CDT in Sensor
      Technology and Applications (Cambridge). In 2015 Omar started his PhD
      in the group of Pietro Cicuta at the Cavendish Labroatory,
      co-supervised by Lorenzo Di Michele. Omar studies the structure,
      dynamics and rheology of biomimetic tissue-like materials, as well
      as developing a new type of bio-molecular sensor.
    </p>

  </div>


  <!--people 4-->
  <div class="col-md-4">
    <img class="col-md-12" src="/assets/people_4.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
  </div>
  <!-- People 1 introduction-->
  <div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">
    <h4 style="color: #005cbf">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>
    <p>
      Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish
      Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his
      PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based
      nanostructures for the self-assembly of functional nanostructured crystalline frameworks.
    </p>

  </div>


  <!--people 5-->
  <div class="col-md-4">
    <img class="col-md-12" src="/assets/people_5.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
  </div>
  <!-- People 1 introduction-->
  <div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">
    <h4 style="color: #005cbf">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>
    <p>
      Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish
      Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his
      PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based
      nanostructures for the self-assembly of functional nanostructured crystalline frameworks.
    </p>

  </div>


  <!--people 6-->
  <div class="col-md-4">
    <img class="col-md-12" src="/assets/people_6.webp" width="200px" height="200px" alt="Photo of People 1 name" style="margin-bottom: 20px; margin-top: 20px;">
  </div>
  <!-- People 1 introduction-->
  <div class="col-md-8" style="margin-bottom: 20px; margin-top: 20px;">
    <h4 style="color: #005cbf">Ryan Brady (Post-doctoral research associate, 2018 - ongoing)</h4>
    <p>
      Ryan completed his undergraduate degree in Nanotechnology at the University of Leeds, before joining the Cavendish
      Laboratory as an EPSRC CDT (NanoDTC) student in 2014, and DiMicheleLAB as a PhD student in 2015. He completed his
      PhD in 2018 and remained in the lab as a postdoc. Ryan focuses on the development of a new class of DNA-based
      nanostructures for the self-assembly of functional nanostructured crystalline frameworks.
    </p>

  </div>

  <!--Survivors part-->
  <div class="col-md-12" style="font-size: 40px; text-align: center; color: #005cbf; ">
    Survivors
  </div>

  <div class="col-md-12">
    <ul>
      <li>Lucia Tunesi: Visiting master student from University of Milan (2018)</li>
      <li>Jeff Jin Rong Quach: Visiting master student from University of Copenhagen (2018)</li>
      <li>Josh Tuffnell: CDT project student (2017-2018). Now PhD student in Materials (Cambridge)</li>
      <li>Lucia Tunesi: Visiting master student from University of Milan (2018)</li>
      <li>Jeff Jin Rong Quach: Visiting master student from University of Copenhagen (2018)</li>
      <li>Josh Tuffnell: CDT project student (2017-2018). Now PhD student in Materials (Cambridge)</li>
      <li>Lucia Tunesi: Visiting master student from University of Milan (2018)</li>
      <li>Jeff Jin Rong Quach: Visiting master student from University of Copenhagen (2018)</li>
      <li>Josh Tuffnell: CDT project student (2017-2018). Now PhD student in Materials (Cambridge)</li>
    </ul>
  </div>


</div>


